@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
      :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
      }
}

body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
                  to bottom,
                  transparent,
                  rgb(var(--background-end-rgb))
            )
            rgb(var(--background-start-rgb));
}

@layer base {
      h1 {
            @apply p-3 text-3xl font-bold;
      }

      h2 {
            @apply p-2 text-xl font-medium;
      }

      hr {
            @apply my-5 border-black dark:border-white;
      }

      input {
            @apply rounded-md border-gray-700 bg-gray-300/90 p-3 dark:bg-gray-500;
      }

      table {
            thead {
                  @apply border-b-2 border-black text-2xl font-bold dark:border-white;
            }

            tr {
                  @apply my-2 border-b border-gray-500/50;
            }

            td {
                  @apply text-center;
            }

            tbody {
                  tr {
                        @apply hover:bg-gray-500/30;
                  }
            }
      }
}
